body {
    background-color: #f8f9fa;
  }
  
  .container {
    display: grid;
    padding: 20px;
    margin-top: 50px;
  }

  #forms-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  
  h1 {
    color: #007bff;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 10px;
  }

  #forms-container > form > fieldset > table {
    margin: 10px !important;
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  textarea[name="titulo-vaga"],
  textarea[name="sobre-a-vaga"],
  .input-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .input-form {
    display: inline-block;
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }
  
  .btn-success,
  .btn-danger,
  .btn-primary {
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  #forms-container > form > fieldset > table > tbody > tr > td > div > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
  }

   main {
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
   }
  