#selecionarUsuario {
    max-height: 400px;
    overflow-y: auto;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: medium;
}

form label{
    font-size: small;
}

form input{
    margin-bottom: 2px;
}

body{
    background-color: #f8f9fa;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#cadastro {
    display: flex; 
    flex-direction: column; 
    max-width: 450px;
    width: auto;
    padding: 40px;
    margin: 35px auto ;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#deleteUser {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    width: auto;
    padding: 40px;
    margin: 35px auto ;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}