<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/Cadastro_de_Usuario.css">
    <link rel="stylesheet" href="../assets/css/nav_bar.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <!-- Menu da Iniciar Padrão -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/IMG/Logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Exibicao_de_relato_de_Golpe.html">Fórum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/Exibicao_de_Cursos.html">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/Blacklist.html">Blacklist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Verificador de link</a>
                    </li>
                </ul>
                <button class="btn btn-primary" type="button">CADASTRE-SE</button>
                <button class="btn btn-secondary" type="button">ENTRAR</button>
            </div>
        </div>
    </nav>
    <main>
        <!-- Section de Cadastro de Usuário -->
        <section id="cadastro" class="d-flex flex-column justify-content-center">
            <h1>Cadastro de Novo Usuário</h1>
            <form id="cadastroForm" action="submit" method="POST" class="d-inline-flex flex-column justify-content-center">

                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">

                <label for="sobrenome">Sobrenome:</label>
                <input type="text" id="sobrenome" name="sobrenome">

                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname">

                <label for="idade">Idade:</label>
                <input type="number" id="idade" name="idade">

                <label for="celular">Celular:</label>
                <input type="tel" id="celular" name="celular">

                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo">
                    <option value="masculino" class="opcoes">Masculino</option>
                    <option value="feminino" class="opcoes">Feminino</option>
                    <option value="outro" class="opcoes">Outro</option>
                </select>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email">

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha">

                <input type="submit" value="Cadastrar" class="btn btn-primary btn-sm mb-1">
            </form>
            <button onclick="mostrarDelete()" class="btn btn-primary btn-sm">Excluir</button>
            <button onclick="mostrarEditar()" class="btn btn-primary btn-sm mt-1">Editar</button>
        </section>
        <!-- Section para Exclusão de Usuários -->
        <section id="deletarUsuario" style="display: none;">
            <h1>Deletar Usuário</h1>
            <label for="selecionarUsuario">Selecione o usuário:</label>
            <select id="selecionarUsuario">
            <option value="">Selecione um usuário</option>
            </select>
            <button onclick="excluirUsuario(id)" class="btn btn-primary btn-sm">Excluir</button>
        </section>
        <!-- Section para Edição de Usuários -->
        <section id="editarUser" style="display: none;">
            <section class="editarUser">
                <h1>Editar Usuário</h1><br>
                <label for="selecionarUsuario2">Selecione o usuário:</label>
                <select id="selecionarUsuario2" onchange="carregarUsuario()">
                    <option value="">Selecione um usuário</option>
                </select><br>
                
                <label for="editarNome">Nome:</label>
                <input type="text" id="editarNome"><br>

                <label for="editarSobrenome">Sobrenome:</label>
                <input type="text" id="editarSobrenome"><br>

                <label for="editarNickname">Nickname:</label>
                <input type="text" id="editarNickname"><br>

                <label for="editarIdade">Idade:</label>
                <input type="number" id="editarIdade"><br>

                <label for="editarCelular">Celular</label>
                <input type="tel" id="editarCelular"><br>

                <label for="editarSexo">Sexo:</label>
                <select id="editarSexo" name="sexo">
                    <option value="masculino" class="opcoes">Masculino</option>
                    <option value="feminino" class="opcoes">Feminino</option>
                    <option value="outro" class="opcoes">Outro</option>
                </select><br>

                <label for="editarEmail">E-mail:</label>
                <input type="email" id="editarEmail"><br>

                <label for="editarSenha">Senha:</label>
                <input type="password" id="editarSenha"><br>

                <button onclick="editarUsuario()" class="btn btn-primary btn-sm">Editar</button>
            </section>
        </section>
    </main>
    <!-- Rodapé padrão -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../assets/IMG/Logo.png" alt="Logo" class="navbar-brand">
                    <p>© JS Template 2023. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#">Terms of Use</a> | 
                    <a href="#">Privacy Policy</a> | 
                    <a href="#">Cookie Policy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/Cadastro_de_Usuario.js"></script>
</body>
</html>
