* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comment-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-card .card-body {
    display: flex;
    align-items: center;
}

.comment-card img {
    margin-right: 1rem;
}

.comment-card .fw-bold {
    font-weight: bold;
}

.comment-card .text-muted {
    font-size: 0.875rem;
    color: #6c757d;
}

.comment-likes {
    display: flex;
    align-items: center;
    cursor: pointer; /* Adiciona o cursor de mãozinha */
}

.comment-likes span {
    margin-left: 0.5rem;
}

.new-comment-section img {
    margin-right: 1rem;
}

.new-comment-section .form-control {
    flex-grow: 1;
}

.comment-actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.edit-comment, .delete-comment {
    font-size: 16px; /* Smaller size for the icons */
    cursor: pointer;
    color: #6c757d; /* Bootstrap's secondary color */
    transition: color 0.2s;
}

.edit-comment:hover, .delete-comment:hover {
    color: #495057; /* Darker color on hover */
}